{% load i18n %}
<header class="sticky-top">
  <nav class="navbar navbar-expand">
    <div class="container-fluid d-flex flex-wrap flex-lg-nowrap
      align-items-center gap-2 px-lg-4">
      {# Label #}
      <a class="navbar-brand d-flex align-items-center me-0"
         href="{% url 'answers:index' %}">{{ SITE.LABEL|upper }}</a>
      {# Filters & Search #}
      <div class="flex-grow-1 mx-1 mx-lg-3">
        <form action="{% url 'answers:index' %}"
              method="get"
              class="m-0"
              {% if request.resolver_match.url_name == 'index' %}
                hx-get="{% url 'answers:index' %}"
                hx-target="#answers"
                hx-push-url="true"
              {% endif %}>
          <div class="input-group">
            {% if request.resolver_match.url_name == "index" %}
              <button class="btn dropdown-toggle d-flex
                align-items-center"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      data-bs-auto-close="outside"
                      aria-label="{% translate 'Filters' %}">
                {% include "includes/icon.html" with name="filter" extra="me-lg-2" %}
                <span class="d-none d-lg-inline">
                  {% translate "Filters" %}
                </span>
              </button>
              <div class="dropdown-menu p-3 filter-dropdown">
                {% include "answers/includes/_filters_form.html" %}
              </div>
            {% endif %}
            <input name="q"
                   type="search"
                   class="form-control"
                   aria-label="{% translate 'Find answers...' %}"
                   placeholder="{% translate 'Find answers...' %}"
                   value="{{ request.GET.q }}"
                   {% if request.resolver_match.url_name == 'index' %}
                     hx-push-url="true"
                     hx-target="#answers"
                     hx-include="#filter-form"
                     hx-trigger="input delay:0.4s"
                     hx-get="{% url 'answers:index' %}"
                   {% endif %}>
            <button class="btn btn-icon"
                    type="submit"
                    aria-label="{% translate 'Find answers...' %}">
              {% include "includes/icon.html" with name="search" extra="" %}
            </button>
          </div>
        </form>
      </div>
      {# Control Buttons #}
      <div class="d-flex align-items-center gap-2 ms-auto">
        {# Create answer #}
        <a href="{% url 'answers:create' %}"
           class="btn btn-icon btn-animate-icon
             btn-animate-icon-rotate"
           data-ui-tooltip
           data-bs-placement="bottom"
           title="{% translate 'Add answer' %}"
           aria-label="{% translate 'Add answer' %}">
          {% include "includes/icon.html" with name="plus" extra="" %}
        </a>
        {# Grid Display Toggler #}
        {% if request.resolver_match.url_name == "index" %}
          <div class="d-flex gap-2"
               role="group"
               aria-label="{% translate 'List' %} / {% translate 'Grid' %}">
            <button type="button"
                    class="btn btn-icon"
                    id="list-view-btn"
                    aria-label="{% translate 'List' %}">
              {% include "includes/icon.html" with name="layout-list" extra="" %}
            </button>
            <button type="button"
                    class="btn btn-icon"
                    id="grid-view-btn"
                    aria-label="{% translate 'Grid' %}">
              {% include "includes/icon.html" with name="layout-grid" extra="" %}
            </button>
          </div>
        {% endif %}
        {# Theme Toggler #}
        <div class="bd-mode-toggle">
          <button class="btn btn-icon"
                  id="bd-theme"
                  type="button"
                  aria-label="{% translate 'Color theme' %}">
            {% include "includes/icon.html" with name="circle-half-2" extra="theme-icon-active" %}
          </button>
        </div>
        {# Gears menu #}
        <div class="dropdown text-end">
          <button class="btn btn-icon btn-animate-icon
            btn-animate-icon-rotate"
                  id="admin-menu-button"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  aria-label="{% translate 'Account' %}">
            {% include "includes/icon.html" with name="settings" extra="" %}
          </button>
          <ul class="dropdown-menu dropdown-menu-end account-dropdown">
            {# Account #}
            <li>
              <h6 class="dropdown-header">{% translate "Account" %}</h6>
            </li>
            <li class="px-3 py-2">
              <div class="d-flex align-items-center">
                <div class="avatar avatar-sm rounded-circle me-3">
                  {% include "includes/icon.html" with name="user" extra="text-secondary" %}
                </div>
                <div class="text-truncate">
                  <div class="subheader">{% translate "User" %}</div>
                  <span class="fw-medium">{{ request.user.username }}</span>
                </div>
              </div>
            </li>
            <li>
              <hr class="dropdown-divider opacity-50">
            </li>
            {# Tools #}
            {% if request.user.is_staff %}
              <li>
                <h6 class="dropdown-header">{% translate "Tools" %}</h6>
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center py-2"
                   href="{% url 'admin:index' %}">
                  {% include "includes/icon.html" with name="shield-lock" extra="me-2 text-secondary" %}
                  {% translate "Admin panel" %}
                </a>
              </li>
            {% endif %}
            <li>
              <a class="dropdown-item d-flex align-items-center py-2"
                 href="{% url 'swagger-ui' %}"
                 target="_blank"
                 rel="noopener noreferrer">
                {% include "includes/icon.html" with name="code" extra="me-2 text-secondary" %}
                {% translate "API Documentation" %}
              </a>
            </li>
            <li>
              <hr class="dropdown-divider opacity-50">
            </li>
            {# Exit #}
            <li>
              <form action="{% url 'accounts:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="dropdown-item text-danger
                  py-2">
                  {% include "includes/icon.html" with name="logout" extra="me-2" %}
                  {% translate "Logout" %}
                </button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
