{% load static %}
<!DOCTYPE html>
<html lang="ru" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{% static "answers/images/favicon/apple-touch-icon.png" %}">
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="{% static "answers/images/favicon/favicon-32x32.png" %}">
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="{% static "answers/images/favicon/favicon-16x16.png" %}">
    <link rel="manifest"
          href="{% static "answers/images/favicon/site.webmanifest" %}">
    {% with tabler="https://cdn.jsdelivr.net/npm/@tabler/core@1.5.1" %}
      <link href="{{ tabler }}/dist/css/tabler.min.css"
            rel="stylesheet"
            integrity="sha384-tLWyEXulonaekaXL6+fCZQJv/MujuGIpVTBzuVEpwSqFDEfLkPA/PAYGTSBBJO2X"
            crossorigin="anonymous">
    {% endwith %}
    {% block extra_css %}
    {% endblock extra_css %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "answers/css/style.css" %}">
    <!-- Theme switcher button JS -->
    <script src="{% static "answers/js/theme-init.js" %}"></script>
    {% block htmx %}
    {% endblock htmx %}
    <title>{% block title %}{{ SITE.LABEL|upper }}{% endblock title %}</title>
  </head>
  <body class="d-flex flex-column min-vh-100 h-auto">
    {% include "includes/icon-symbols.html" %}
    {% block navigation %}
    {% endblock navigation %}
    {% block notifications %}
    {% endblock notifications %}
    {% block content %}
    {% endblock content %}
    {% block footer %}
    {% endblock footer %}
    {% block http_errors %}
    {% endblock http_errors %}
    {% with tabler="https://cdn.jsdelivr.net/npm/@tabler/core@1.5.1" %}
      <script src="{{ tabler }}/dist/js/tabler.min.js"
              integrity="sha384-KeeTrPFG36BhSeZepo1c2EzYKGlF6NX5Gtjyn5iEWVj52/Fy0LLbWLin5AqZne99"
              crossorigin="anonymous">
      </script>
    {% endwith %}
    <!-- Theme switcher button JS -->
    <script src="{% static "answers/js/theme-toggle.js" %}" defer></script>
    <script src="{% static "answers/js/tooltips.js" %}" defer></script>
    <script src="{% static "answers/js/form-validation.js" %}" defer></script>
    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>
