{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block http_errors %}
  <main class="page page-center min-vh-100">
    <div class="container-tight py-4">
      <div class="empty">
        <div class="empty-header">
          {% block status_code %}
          {% endblock status_code %}
        </div>
        {% block error_message %}
        {% endblock error_message %}
        <div class="empty-action">
          <a href="{% url 'answers:index' %}" class="btn btn-primary">
            {% include "includes/icon.html" with name="home" %}
            {% translate "To Home" %}
          </a>
        </div>
      </div>
    </div>
  </main>
{% endblock http_errors %}
