{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <section class="page page-center">
    <div class="container container-tight py-4">
      <div class="row justify-content-sm-center h-100">
        <div class="col-12">
          <div class="text-center my-5">
            <h1 class="h1">{{ SITE.LABEL|upper }}</h1>
          </div>
          <div class="card">
            <div class="card-body">
              <h1 class="card-title text-center mb-4">
                {% translate "Login" %}
              </h1>
              <form method="post"
                    class="needs-validation"
                    autocomplete="off"
                    action="{% url 'accounts:login' %}"
                    novalidate>
                {% csrf_token %}
                {% include "forms/errors.html" %}
                {% for field in form.visible_fields %}
                  {% include "forms/field.html" %}
                {% endfor %}
                <input type="hidden" name="next" value="{{ next }}">
                <div class="d-grid mt-4">
                  <button type="submit" class="btn btn-primary w-100">
                    {% include "includes/icon.html" with name="login" extra="" %}
                    {% translate "Login" %}
                  </button>
                </div>
              </form>
            </div>
            <div class="card-footer py-3 border-0">
              <div class="text-center">{{ SITE.TAGLINE }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
