<section id="answers">
  <main class="container">
    {% if answers %}
      {% for answer in answers %}
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-between align-items-center">
            Вопрос № {{ answer.pk }}
            <span class="badge text-bg-primary rounded-pill">{{ answer.category }}</span>
          </h5>
          <p class="card-text">{{ answer.question }}</p>
        </div>
        <div class="card-body">
          <h6 class="card-title">Ответ: </h6>
          <p class="card-text">{{ answer.answer }}</p>
          {% if answer.url %}
            <a href="{{ answer.url }}" class="card-link">Источник</a>
          {% endif %} 
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
          <p class="card-text">{{ answer.period }}</p>
        </div>
      </div>
    {% endfor %}
    {% include 'answers/includes/_pagination.html' %}
    {% else %}
      <div class="alert alert-dark alert-dismissible fade show mt-3" role="alert">
        <strong>Ничего не найдено!</strong>
        Очистите поле поиска чтобы вернуться назад или обновите страницу
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
  </main>
</section>
