<header class="sticky-top">
  <section>
    <nav class="navbar navbar-expand-xl bg-body-tertiary">
      <div class="container">
        <!--Brand logo -->
        {% include 'answers/includes/_brand.html' %}
        <!-- Left fields -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0 me-md-auto">
            <!-- Menu -->
            {# TODO: create menu #}
          </ul>
          <!-- Search -->
          {% include 'answers/includes/_search.html' %}
          <!-- Right fields -->
          <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
            <!-- User settings -->
            {% include 'answers/includes/_extra_menu.html' %}
          </ul>
        </div>
      </div>
    </nav>
  </section>
</header>
