{% if page_obj.has_other_pages %}
  <nav class="d-flex justify-content-center mt-3">
    <ul class="pagination justify-content-center flex-wrap">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
            <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link">
            <span aria-hidden="true">&laquo;</span>
        </a>
      </li>    
      {% endif %}
      {% for page in page_range %}
        {% if page_obj.number == page %}
          <li class="page-item">
            <a class="page-link active" aria-current="page" href="#">{{ page }}</a>
          </li>
        {% else %}
          {% if page == paginator.ELLIPSIS %}
            <li class="page-item disabled">
              <span class="page-link">{{ paginator.ELLIPSIS }}</span>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page }}">{{ page }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">
              <span aria-hidden="true">&raquo;</span>
              
          </a>
        </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link">
          <span aria-hidden="true">&raquo;</span>  
        </a>
      </li>
      {% endif %}
    </ul>
  </nav><!--//theme-pagination-nav-->
{% endif %}